drafts/mzQuantML_0_1_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Oliver Kohlbacher (Universität Tübingen) -->
<!--
mzIdentML version 1.0.0
Distributed under the Creative Commons license http://creativecommons.org/licenses/by/2.0/.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://psidev.info/psi/pi/mzQuantML/0.1" xmlns:psi-pi="http://psidev.info/psi/pi/mzQuantML/0.1" targetNamespace="http://psidev.info/psi/pi/mzQuantML/0.1" elementFormDefault="qualified" version="0.1">
	<xsd:element name="mzQuantML">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ProteinList" type="ProteinListType"/>
				<xsd:element name="PeptideList" type="PeptideListType"/>
				<xsd:element name="AssayList" type="AssayListType"/>
				<xsd:element name="FeatureList" type="FeatureListType"/>
				<xsd:element name="QuantificationsList" type="QuantificationsType"/>
				<xsd:element name="DataProcessingList" type="DataProcessingListType" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="cvListType">
		<xsd:sequence>
			<xsd:element name="cv" type="cvType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="cvType" abstract="false">
		<xsd:annotation>
			<xsd:documentation>A source controlled vocabulary from which cvParams will be obtained.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="fullName" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>The full name of the CV.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="version" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>The version of the CV.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="URI" type="xsd:anyURI" use="required">
			<xsd:annotation>
				<xsd:documentation>The URI of the source CV.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="id" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>The unique identifier of this cv within the document to be referenced by cvParam elements.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ProteinListType">
		<xsd:sequence>
			<xsd:element name="QuantProteinAmbiguityGroup" type="QuantProteinAmbiguityGroupType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="QuantProteinDetectionHypothesis" type="QuantProteinDetectionHypothesisType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="QuantProteinAmbiguityGroupType">
		<xsd:sequence>
			<xsd:element name="IdentificationRef" type="IdentificationRefType" maxOccurs="unbounded"/>
			<xsd:element name="GroupedQuantitationResult" type="GroupedQuantitationResultType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="QuantitationResult" type="QuantitationResultType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="GlobalQuantitationResult" type="GlobalQuantitationResultType" minOccurs="0"/>
			<xsd:element name="QuantProteinDetectionHypothesis" type="QuantProteinDetectionHypothesisType" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="QuantProteinDetectionHypothesisType">
		<xsd:sequence>
			<xsd:element name="IdentificationRef" type="IdentificationRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="GroupedQuantitationResult" type="GroupedQuantitationResultType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="QuantitationResult" type="QuantitationResultType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PeptideRefs" type="PeptideRefsType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="GroupedQuantitationResultType">
		<xsd:sequence>
			<xsd:element name="MeasureParam" type="MeasureParamType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="RatioParam" type="RatioParamType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="study_variable_ref" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="QuantitationResultType">
		<xsd:sequence>
			<xsd:element name="MeasureParam" type="MeasureParamType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="RatioParam" type="RatioParamType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="assay_refs" type="xsd:IDREFS"/>
	</xsd:complexType>
	<xsd:complexType name="GlobalQuantitationResultType">
		<xsd:annotation>
			<xsd:documentation>e.g. Stats across all grouped quantitations for a given protein or peptide</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MeasureParam" type="MeasureParamType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="RatioParam" type="RatioParamType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MeasureParamType">
		<xsd:attribute name="value" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>Question? Is value always numerical (float) or can a Boolean be included - for now left as xsd:string</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="unitAccession" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>An accession number identifying the unit within the OBO foundry Unit CV.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="unitName" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>The name of the unit.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="unitCvRef" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>If a unit term is referenced, this attribute must refer to the CV 'id' attribute defined in the cvList in this file.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="measure_ref">
			<xsd:annotation>
				<xsd:documentation>Reference to the measure definition in the Protocol</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="RatioParamType">
		<xsd:attribute name="value" type="xsd:string"/>
		<xsd:attribute name="ratio_ref" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="IdentificationRefType">
		<xsd:attribute name="id_ref" type="xsd:string"/>
		<xsd:attribute name="file_ref" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="PeptideRefsType">
		<xsd:sequence>
			<xsd:element name="PeptideRef" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="peptide_ref" type="xsd:string"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PeptideListType">
		<xsd:sequence>
			<xsd:element name="Peptide" type="PeptideType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PeptideType">
		<xsd:sequence>
			<xsd:element name="PeptideSequence" type="sequence">
				<xsd:annotation>
					<xsd:documentation> The amino acid sequence of the (poly)peptide. If a substitution modification has been found, the original sequence should be reported. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IdentificationReferences" type="IdentificationRefType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Reference for any identifications of peptides - a link to an mzIdentML</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Modification" type="ModificationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="GroupedQuantitationResult" type="GroupedQuantitationResultType" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="QuantitationResult" type="QuantitationResultType"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="ModificationType" abstract="false">
		<xsd:annotation>
			<xsd:documentation>A molecule modification specification. If n modifications have been found on a peptide, there should be n instances of Modification. If multiple modifications are provided as cvParams, it is assumed that the modification is ambiguous i.e. one modification or another. If no CVParams are provided it is assumed that the delta has not been matched to a known modification. A neutral loss should be defined as an additional CVParam within Modification. If more complex information should be given about neutral losses (such as presence/absence on particular product ions), this can additionally be encoded within the FragmentationArray.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="ParamGroup" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="location" type="xsd:int">
			<xsd:annotation>
				<xsd:documentation>Location of the modification within the peptide - position in peptide sequence, counted from the N-terminus residue, starting at position 1. Specific modifications to the N-terminus should be given the location 0. Modification to the C-terminus should be given as peptide length + 1.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="residues" type="listOfChars">
			<xsd:annotation>
				<xsd:documentation>Specification of the residue (amino acid) on which the modification occurs. If multiple values are given, it is assumed that the exact residue modified is unknown i.e. the modification is to ONE of the residues listed. Multiple residues would usually only be specified for PMF data.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="avgMassDelta" type="xsd:double">
			<xsd:annotation>
				<xsd:documentation> Atomic mass delta considering the natural distribution of isotopes in Daltons. </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="monoisotopicMassDelta" type="xsd:double">
			<xsd:annotation>
				<xsd:documentation> Atomic mass delta when assuming only the most common isotope of elements in Daltons. </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="QuantificationsType">
		<xsd:sequence>
			<xsd:element name="QuantitationUnits" type="QuantitationUnitsType"/>
			<xsd:element name="Ratio" type="RatioType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Measurement" type="MeasurementType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StudyVariableType">
		<xsd:annotation>
			<xsd:documentation>This needs more work, the groupings may be illogical, may want to group ratios at StudyVariable level rather than just quantitation units</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PeakType">
				<xsd:sequence>
					<xsd:element name="cvParam" type="cvParamType">
						<xsd:annotation>
							<xsd:documentation>The type of StudyVariable e.g. Phenotypic, biological replicate, technical replicate, time points etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:choice>
						<xsd:element name="QuantitationUnitRefs" type="QuantitationUnitRefsType"/>
						<xsd:element name="StudyVariableRefs" type="StudyVariableRefsType"/>
					</xsd:choice>
				</xsd:sequence>
				<xsd:attribute name="id" use="required"/>
				<xsd:attribute name="name"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="QuantitationUnitRefsType"/>
	<xsd:complexType name="AssayListType">
		<xsd:sequence>
			<xsd:element name="Assay" type="AssayType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Describes a experimental setup (e.g. with the channel mapping in iTRAQ)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AssayType">
		<xsd:sequence>
			<xsd:element name="RawFiles" type="RawFilesType"/>
			<xsd:element name="Label" type="LabelType" minOccurs="0"/>
			<xsd:element name="IdentificationFiles" type="IdentificationFilesType" minOccurs="0"/>
			<xsd:element name="DataProcessingOrder" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DataProcessingOrderElement">
							<xsd:complexType>
								<xsd:attribute name="rank" use="required"/>
								<xsd:attribute name="DataprocessingRef" type="xsd:IDREF" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="cvParam" type="cvParamType">
				<xsd:annotation>
					<xsd:documentation>if there is a set of quasi-standard setups</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID" use="required"/>
		<xsd:attribute name="name" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="RawFilesType">
		<xsd:sequence>
			<xsd:element name="RawFile" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="id" type="xsd:string" use="required"/>
					<xsd:attribute name="name" type="xsd:string"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IdentificationFilesType">
		<xsd:sequence>
			<xsd:element name="IdentificationFile">
				<xsd:annotation>
					<xsd:documentation>
            Note: Unclear at what level references to identication should be, may be at PAG, PDH, Peptide or Assay level or potentially all - this is to be resolved</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="id" type="xsd:string" use="required"/>
					<xsd:attribute name="name" type="xsd:string"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="QuantitationUnitsType">
		<xsd:sequence>
			<xsd:element name="QuantitationUnit" type="QuantitationUnitType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>This is a entity to calculate with or to report (might also be the 'agglomeration' of one Value)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="QuantitationUnitType">
		<xsd:sequence>
			<xsd:element name="FeatureReferences">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="GroupedFeatureRefs" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="cvParam" type="cvParamType">
										<xsd:annotation>
											<xsd:documentation>The type of agglomeration (i.e. mathematical operation) and  of ExperimentalValues (e.g. Phenotypic, biological replicate, time points etc.)</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
								<xsd:attribute name="FeatureRefs" type="xsd:IDREFS"/>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="cvParam" type="cvParamType">
							<xsd:annotation>
								<xsd:documentation>The type of agglomeration (i.e. mathematical operation) and  of ExperimentalValues (e.g. Phenotypic, biological replicate, time points etc.)</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="IdentificationReferences" type="IdentificationRefType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Reference for any identifications of peptides linked with this feature - a link to an mzIdentML</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="userParam" type="userParamType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" use="required"/>
		<xsd:attribute name="value" use="required"/>
		<xsd:attribute name="name"/>
	</xsd:complexType>
	<xsd:complexType name="LabelType">
		<xsd:sequence>
			<xsd:element name="cvParam" type="cvParamType" minOccurs="0"/>
			<xsd:element name="Modification" type="ModParamType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProtocolListType">
		<xsd:sequence/>
	</xsd:complexType>
	<xsd:complexType name="ProtocolType">
		<xsd:annotation>
			<xsd:documentation>Potentially add in Statistics where means etc can be defined at various levels</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:complexType>
	<xsd:complexType name="RatioType">
		<xsd:sequence>
			<xsd:element name="Numerator">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="QuantitationUnitRef" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:attribute name="ref" type="xsd:string" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Denominator">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="QuantitationUnitRef" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:attribute name="ref" type="xsd:string" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="NumeratorType">
		<xsd:choice>
			<xsd:element name="QuantitationUnitRefs" type="QuantitationUnitRefsType"/>
			<xsd:element name="StudyVariableRefs" type="StudyVariableRefsType"/>
		</xsd:choice>
		<xsd:attribute name="mathematical_operation">
			<xsd:annotation>
				<xsd:documentation>
          This would be restricted to basics e.g. sum, multiplication etc !! In fact, this probably needs to be more complicated to define
          operations such as 114 X 2 / 117 etc.
        </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="DenominatorType">
		<xsd:choice>
			<xsd:element name="QuantitationUnitRefs" type="QuantitationUnitRefsType"/>
		</xsd:choice>
		<xsd:attribute name="mathematical_operation">
			<xsd:annotation>
				<xsd:documentation>This would be restricted to basics e.g. sum, multiplication etc</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="FeatureListType">
		<xsd:sequence>
			<xsd:element name="Feature" type="FeatureType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FeatureType">
		<xsd:complexContent>
			<xsd:extension base="PeakType">
				<xsd:sequence>
					<xsd:element name="masstrace" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Each masstrace has a start and a end point in each RT and MZ dimension. </xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:attribute name="RTstart" type="xsd:double" use="required"/>
							<xsd:attribute name="RTstop" type="xsd:double" use="required"/>
							<xsd:attribute name="MZstart" type="xsd:double" use="required"/>
							<xsd:attribute name="MZstop" type="xsd:double" use="required"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="IdentificationReferences" type="IdentificationRefType" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Reference for any identifications of peptides linked with this feature - a link to an mzIdentML</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="userParam" type="userParamType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="id" type="xsd:ID" use="required" form="unqualified">
					<xsd:annotation>
						<xsd:documentation>unique identifier for the feature.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="DataProcessingRef" type="xsd:IDREF">
					<xsd:annotation>
						<xsd:documentation>dataprocessing producing this feature (e.g. model fit)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="AssayRef" type="xsd:IDREF">
					<xsd:annotation>
						<xsd:documentation>The featuring Assay</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StudyVariableRefsType">
		<xsd:sequence>
			<xsd:element name="StudyVariableRef" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="ref" type="xsd:string" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MeasurementType">
		<xsd:sequence>
			<xsd:element name="cvParam" type="cvParamType"/>
			<xsd:element name="QuantitationUnitRef" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="ref" type="xsd:string" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string"/>
	</xsd:complexType>
	<xsd:group name="ParamGroup">
		<xsd:choice>
			<xsd:element name="cvParam" type="cvParamType"/>
			<xsd:element name="userParam" type="userParamType"/>
		</xsd:choice>
	</xsd:group>
	<xsd:complexType name="ParamType" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Abstract entity allowing either cvParam or userParam to be referenced in other schemas.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="name" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>The name of the parameter.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="value" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>The user-entered value of the parameter.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="unitAccession" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>An accession number identifying the unit within the OBO foundry Unit CV.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="unitName" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>The name of the unit.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="unitCvRef" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>If a unit term is referenced, this attribute must refer to the CV 'id' attribute defined in the cvList in this file.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="userParamType" abstract="false">
		<xsd:annotation>
			<xsd:documentation>A single user-defined parameter.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ParamType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="cvParamType" abstract="false">
		<xsd:annotation>
			<xsd:documentation> A single entry from an ontology or a controlled vocabulary.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ParamType">
				<xsd:attribute name="cvRef" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation>A reference to the cv element from which this term originates.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="accession" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation>The accession or ID number of this CV term in the source CV.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="listOfIntegers">
		<xsd:list itemType="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="listOfFloats">
		<xsd:list itemType="xsd:float"/>
	</xsd:simpleType>
	<xsd:simpleType name="listOfChars">
		<xsd:list itemType="chars"/>
	</xsd:simpleType>
	<xsd:simpleType name="chars">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[ABCDEFGHIJKLMNOPQRSTUVWXYZ]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="sequence">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[ABCDEFGHIJKLMNOPQRSTUVWXYZ]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ModParamType" abstract="false">
		<xsd:annotation>
			<xsd:documentation>The modification searched for, sourced from e.g. UniMod and the mass delta</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="cvParam" type="cvParamType">
				<xsd:annotation>
					<xsd:documentation>The name of the modification imported from a relevant CV</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="massDelta" type="xsd:float" use="required">
			<xsd:annotation>
				<xsd:documentation>The mass delta of the searched modification in Daltons</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="residues" type="listOfChars" use="optional">
			<xsd:annotation>
				<xsd:documentation>The residue(s) searched with the specified modification</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="PeakType">
		<xsd:attribute name="RT" type="xsd:double" use="required"/>
		<xsd:attribute name="MZ" type="xsd:double" use="required"/>
		<xsd:attribute name="intensity" type="xsd:double" use="required"/>
		<xsd:attribute name="charge"/>
	</xsd:complexType>
	<xsd:complexType name="DataProcessingListType">
		<xsd:annotation>
			<xsd:documentation>List and descriptions of data processing applied to this data.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="dataProcessing" type="DataProcessingType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DataProcessingType">
		<xsd:annotation>
			<xsd:documentation>Description of the way in which a particular software was used.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="processingMethod" type="ProcessingMethodType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Description of the default peak processing method. This element describes the base method used in the generation of a particular mzML file. Variable methods should be described in the appropriate acquisition section - if no acquisition-specific details are found, then this information serves as the default.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID" use="required">
			<xsd:annotation>
				<xsd:documentation>A unique identifier for this data processing that is unique across all DataProcessingTypes.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ProcessingMethodType" mixed="false">
		<xsd:complexContent mixed="false">
			<xsd:extension base="ParamGroupType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ParamGroupType">
		<xsd:annotation>
			<xsd:documentation>Structure allowing the use of a controlled (cvParam) or uncontrolled vocabulary (userParam), or a reference to a predefined set of these in this mzQuantML file (paramGroupRef).</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="referenceableParamGroupRef" type="ReferenceableParamGroupRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="cvParam" type="CVParamType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="userParam" type="userParamType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FeatureGroupType">
		<xsd:annotation>
			<xsd:documentation>Structure allowing the use of a controlled (cvParam) or uncontrolled vocabulary (userParam), or a reference to a predefined set of these in this mzQuantML file (paramGroupRef).</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="referenceableParamGroupRef" type="ReferenceableParamGroupRefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="cvParam" type="CVParamType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceableParamGroupType">
		<xsd:annotation>
			<xsd:documentation>A collection of CVParam and UserParam elements that can be referenced from elsewhere in this mzQuantML document by using the 'paramGroupRef' element in that location to reference the 'id' attribute value of this element.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="cvParam" type="CVParamType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="userParam" type="userParamType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID" use="required">
			<xsd:annotation>
				<xsd:documentation>The identifier with which to reference this ReferenceableParamGroup.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ReferenceableParamGroupRefType">
		<xsd:annotation>
			<xsd:documentation>A reference to a previously defined ParamGroup, which is a reusable container of one or more cvParams.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="ref" type="xsd:IDREF" use="required">
			<xsd:annotation>
				<xsd:documentation>Reference to the id attribute in a referenceableParamGroup.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="CVParamType">
		<xsd:annotation>
			<xsd:documentation>This element holds additional data or annotation. Only controlled values are allowed here.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="cvRef" type="xsd:IDREF" use="required">
			<xsd:annotation>
				<xsd:documentation>A reference to the CV 'id' attribute as defined in the cvList in this mzQuantML file.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="accession" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>The accession number of the referred-to term in the named resource (e.g.: MS:000012).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="value" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>The value for the parameter; may be absent if not appropriate, or a numeric or symbolic value, or may itself be CV (legal values for a parameter should be enumerated and defined in the ontology).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="name" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>The actual name for the parameter, from the referred-to controlled vocabulary. This should be the preferred name associated with the specified accession number.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="unitAccession" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>An optional CV accession number for the unit term associated with the value, if any (e.g., 'UO:0000266' for 'electron volt').</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="unitName" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>An optional CV name for the unit accession number, if any (e.g., 'electron volt' for 'UO:0000266' ).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="unitCvRef" type="xsd:IDREF" use="optional">
			<xsd:annotation>
				<xsd:documentation>If a unit term is referenced, this attribute must refer to the CV 'id' attribute defined in the cvList in this mzQuantML file.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
