schema/mzQuantML_0_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
mzIdentML version 1.0.0
Distributed under the Creative Commons license http://creativecommons.org/licenses/by/2.0/.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://psidev.info/psi/pi/mzQuantML/0.1"
        xmlns:psi-pi="http://psidev.info/psi/pi/mzQuantML/0.1"
        targetNamespace="http://psidev.info/psi/pi/mzQuantML/0.1" elementFormDefault="qualified"
        version="0.1">



  <xsd:element name="mzQuantML">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ProteinList" type="ProteinListType"> </xsd:element>
        <xsd:element name="PeptideList" type="PeptideListType"/>
        <xsd:element name="AssayList" type="AssayListType"/>
        <xsd:element name="StudyVariableList" type="StudyVariableListType"/>
        <xsd:element name="ProtocolList" type="ProtocolListType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="cvListType">
    <xsd:sequence>
      <xsd:element name="cv" type="cvType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cvType" abstract="false">
    <xsd:annotation>
      <xsd:documentation>A source controlled vocabulary from which cvParams will be obtained.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="fullName" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The full name of the CV.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="version" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The version of the CV.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="URI" type="xsd:anyURI" use="required">
      <xsd:annotation>
        <xsd:documentation>The URI of the source CV.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="id" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The unique identifier of this cv within the document to be referenced by cvParam elements.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="ProteinListType">
    <xsd:sequence>
      <xsd:element name="QuantProteinAmbiguityGroup" type="QuantProteinAmbiguityGroupType"
              minOccurs="0" maxOccurs="unbounded"> </xsd:element>
      <xsd:element maxOccurs="unbounded" name="QuantProteinDetectionHypothesis"
              minOccurs="0" type="QuantProteinDetectionHypothesisType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QuantProteinAmbiguityGroupType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="IdentificationRef" type="IdentificationRefType"/>
      <xsd:element maxOccurs="unbounded" name="GroupedQuantitationResult"
              type="GroupedQuantitationResultType" minOccurs="0"/>
      <xsd:element maxOccurs="unbounded" name="QuantitationResult"
              type="QuantitationResultType" minOccurs="0"/>
      <xsd:element name="GlobalQuantitationResult" type="GlobalQuantitationResultType" minOccurs="0"/>
      <xsd:element maxOccurs="unbounded" name="QuantProteinDetectionHypothesis"
              type="QuantProteinDetectionHypothesisType"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="QuantProteinDetectionHypothesisType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="IdentificationRef" type="IdentificationRefType" minOccurs="0"/>
      <xsd:element maxOccurs="unbounded" name="GroupedQuantitationResult"
              type="GroupedQuantitationResultType" minOccurs="0"/>
      <xsd:element maxOccurs="unbounded" name="QuantitationResult"
              type="QuantitationResultType" minOccurs="0"/>
      <xsd:element name="PeptideRefs" type="PeptideRefsType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="GroupedQuantitationResultType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="MeasureParam"
              type="MeasureParamType"/>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="RatioParam" type="RatioParamType"
                        />
    </xsd:sequence>
    <xsd:attribute name="study_variable_ref" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="QuantitationResultType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="MeasureParam"
              type="MeasureParamType"/>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="RatioParam" type="RatioParamType"
                        />
    </xsd:sequence>
    <xsd:attribute name="assay_ref" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="GlobalQuantitationResultType">
    <xsd:annotation>
      <xsd:documentation>e.g. Stats across all grouped quantitations for a given protein or peptide</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="MeasureParam"
              type="MeasureParamType"/>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="RatioParam" type="RatioParamType"
                        />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MeasureParamType">
    <xsd:attribute name="value" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>Question? Is value always numerical (float) or can a Boolean be included - for now left as xsd:string</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="unitAccession" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>An accession number identifying the unit within the OBO foundry Unit CV.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="unitName" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The name of the unit.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="unitCvRef" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>If a unit term is referenced, this attribute must refer to the CV 'id' attribute defined in the cvList in this file.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="measure_ref">
      <xsd:annotation>
        <xsd:documentation>Reference to the measure definition in the Protocol</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="RatioParamType">
    <xsd:attribute name="value" type="xsd:string"/>
    <xsd:attribute name="ratio_ref" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="IdentificationRefType">
    <xsd:attribute name="id_ref" type="xsd:string"/>
    <xsd:attribute name="file_ref" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="PeptideRefsType">
    <xsd:sequence>
      <xsd:element name="PeptideRef" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:attribute name="peptide_ref" type="xsd:string"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PeptideListType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Peptide" type="PeptideType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PeptideType">
    <xsd:sequence>
      <xsd:element name="PeptideSequence" type="sequence">
        <xsd:annotation>
          <xsd:documentation> The amino acid sequence of the (poly)peptide. If a substitution modification has been found, the original sequence should be reported. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Modification"
              type="ModificationType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="GroupedQuantitationResult"
              nillable="false" type="GroupedQuantitationResultType"/>
      <xsd:element name="QuantitationResult" type="QuantitationResultType"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="ModificationType" abstract="false">
    <xsd:annotation>
      <xsd:documentation>A molecule modification specification. If n modifications have been found on a peptide, there should be n instances of Modification. If multiple modifications are provided as cvParams, it is assumed that the modification is ambiguous i.e. one modification or another. If no CVParams are provided it is assumed that the delta has not been matched to a known modification. A neutral loss should be defined as an additional CVParam within Modification. If more complex information should be given about neutral losses (such as presence/absence on particular product ions), this can additionally be encoded within the FragmentationArray.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="ParamGroup" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="location" type="xsd:int">
      <xsd:annotation>
        <xsd:documentation>Location of the modification within the peptide - position in peptide sequence, counted from the N-terminus residue, starting at position 1. Specific modifications to the N-terminus should be given the location 0. Modification to the C-terminus should be given as peptide length + 1.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="residues" type="listOfChars">
      <xsd:annotation>
        <xsd:documentation>Specification of the residue (amino acid) on which the modification occurs. If multiple values are given, it is assumed that the exact residue modified is unknown i.e. the modification is to ONE of the residues listed. Multiple residues would usually only be specified for PMF data.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="avgMassDelta" type="xsd:double">
      <xsd:annotation>
        <xsd:documentation> Atomic mass delta considering the natural distribution of isotopes in Daltons. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="monoisotopicMassDelta" type="xsd:double">
      <xsd:annotation>
        <xsd:documentation> Atomic mass delta when assuming only the most common isotope of elements in Daltons. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="StudyVariableListType">
    <xsd:choice>
      <xsd:element maxOccurs="unbounded" name="StudyVariable" type="StudyVariableType"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="StudyVariableType">
    <xsd:annotation>
      <xsd:documentation>This needs more work, the groupings may be illogical, may want to group ratios at StudyVariable level rather than just quantitation units</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="1" name="QuantitationUnitRefs" type="QuantitationUnitRefsType"/>
      <xsd:element name="cvParam" type="cvParamType">
        <xsd:annotation>
          <xsd:documentation>The type of StudyVariable e.g. Phenotypic, biological replicate, technical replicate, time points etc.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string"/>
    <xsd:attribute name="name" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="QuantitationUnitRefsType">
    <xsd:choice>
      <xsd:element maxOccurs="unbounded" name="QuantitationUnitRef">
        <xsd:complexType>
          <xsd:attribute name="ref" type="xsd:string" use="required"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="AssayListType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Assay" type="AssayType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AssayType">
    <xsd:sequence>
      <xsd:element name="RawFiles" type="RawFilesType"/>
      <xsd:element minOccurs="0" name="IdentificationFiles" type="IdentificationFilesType"/>
      <xsd:element name="QuantitationUnits" type="QuantitationUnitsType"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required"/>
    <xsd:attribute name="name" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="RawFilesType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="RawFile">
        <xsd:complexType>
          <xsd:attribute name="id" type="xsd:string" use="required"/>
          <xsd:attribute name="name" type="xsd:string"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IdentificationFilesType">
    <xsd:sequence>
      <xsd:element name="IdentificationFile">
        <xsd:annotation>
          <xsd:documentation>
            Note: Unclear at what level references to identication should be, may be at PAG, PDH, Peptide or Assay level or potentially all - this is to be resolved


          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:attribute name="id" type="xsd:string" use="required"/>
          <xsd:attribute name="name" type="xsd:string"/>
        </xsd:complexType>


      </xsd:element>

    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QuantitationUnitsType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="QuantitationUnit" type="QuantitationUnitType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QuantitationUnitType">
    <xsd:annotation>
      <xsd:documentation>This is a single analyte e.g. one label free run or one "channel" in a SILAC </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Label" type="LabelType"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required"/>
    <xsd:attribute name="name" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="LabelType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="cvParam" type="cvParamType"/>
      <xsd:element name="Modification" type="ModParamType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProtocolListType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Protocol" type="ProtocolType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProtocolType">
    <xsd:annotation>
      <xsd:documentation>Potentially add in Statistics where means etc can be defined at various levels</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Ratio" type="RatioType"/>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Measurement" type="MeasurementType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RatioType">
    <xsd:sequence>
      <xsd:element name="Numerator" type="NumeratorType"/>
      <xsd:element name="Denominator" type="DenominatorType"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="NumeratorType">
    <xsd:choice>
      <xsd:element name="QuantitationUnitsRef" type="QuantitationUnitRefsType"/>
      <xsd:element name="StudyVariablesRef"/>
    </xsd:choice>
    <xsd:attribute name="mathematical_operation">
      <xsd:annotation>
        <xsd:documentation>
          This would be restricted to basics e.g. sum, multiplication etc !! In fact, this probably needs to be more complicated to define
          operations such as 114 X 2 / 117 etc.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="DenominatorType">
    <xsd:choice>
      <xsd:element name="QuantitationUnitsRef" type="QuantitationUnitRefsType"/>
      <xsd:element name="StudyVariablesRef" type="StudyVariableRefsType"/>
    </xsd:choice>
    <xsd:attribute name="mathematical_operation">
      <xsd:annotation>
        <xsd:documentation>This would be restricted to basics e.g. sum, multiplication etc</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="StudyVariableRefsType">
    <xsd:choice>
      <xsd:element maxOccurs="unbounded" name="StudyVariableRef">
        <xsd:complexType>
          <xsd:attribute name="ref" type="xsd:string" use="required"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="MeasurementType">
    <xsd:sequence>
      <xsd:element name="cvParam" type="cvParamType"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string"/>
  </xsd:complexType>
  <xsd:group name="ParamGroup">
    <xsd:choice>
      <xsd:element name="cvParam" type="cvParamType"/>
      <xsd:element name="userParam" type="userParamType"/>
    </xsd:choice>
  </xsd:group>
  <xsd:complexType name="ParamType" abstract="true">
    <xsd:annotation>
      <xsd:documentation>Abstract entity allowing either cvParam or userParam to be referenced in other schemas.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="name" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>The name of the parameter.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="value" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>The user-entered value of the parameter.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="unitAccession" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>An accession number identifying the unit within the OBO foundry Unit CV.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="unitName" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>The name of the unit.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="unitCvRef" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>If a unit term is referenced, this attribute must refer to the CV 'id' attribute defined in the cvList in this file.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="userParamType" abstract="false">
    <xsd:annotation>
      <xsd:documentation>A single user-defined parameter.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParamType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="cvParamType" abstract="false">
    <xsd:annotation>
      <xsd:documentation> A single entry from an ontology or a controlled vocabulary.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ParamType">
        <xsd:attribute name="cvRef" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>A reference to the cv element from which this term originates.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="accession" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>The accession or ID number of this CV term in the source CV.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>



  <xsd:simpleType name="listOfIntegers">
    <xsd:list itemType="xsd:integer"/>
  </xsd:simpleType>
  <xsd:simpleType name="listOfFloats">
    <xsd:list itemType="xsd:float"/>
  </xsd:simpleType>
  <xsd:simpleType name="listOfChars">
    <xsd:list itemType="chars"/>
  </xsd:simpleType>
  <xsd:simpleType name="chars">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[ABCDEFGHIJKLMNOPQRSTUVWXYZ]{1}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="sequence">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[ABCDEFGHIJKLMNOPQRSTUVWXYZ]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ModParamType" abstract="false">
    <xsd:annotation>
      <xsd:documentation>The modification searched for, sourced from e.g. UniMod and the mass delta</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="cvParam" type="cvParamType">
        <xsd:annotation>
          <xsd:documentation>The name of the modification imported from a relevant CV</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="massDelta" type="xsd:float" use="required">
      <xsd:annotation>
        <xsd:documentation>The mass delta of the searched modification in Daltons</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="residues" type="listOfChars" use="optional">
      <xsd:annotation>
        <xsd:documentation>The residue(s) searched with the specified modification</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
</xsd:schema>
